$orange: #FF5C00;
$purple: #5326D6;
$white: #FFFFFF;
$blue: #18C8FF;
$red: #FF7676;

$darkGray90: #1A1A1A;
$gray80: #333333;
$mediumGray70: #4D4D4D;
$lightGray50: #808080;
$subGray30: #B3B3B3;
$lineGray10: #E6E6E6;

$background: #D8D8D8;

$purpleGradient: linear-gradient(158.41deg, #5326D6 14.18%, #5326D6 58.07%);
$blueGradient: linear-gradient(161.87deg, #18C8FF 25.97%, rgba(24, 200, 255, 0) 74.3%);