@import '../../global.scss';

.tabsGeral {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  position: relative;
}

.topContainer {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tabRow {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.controlWrapper {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.tabWrapper {
  width: auto;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center; 

  .bottomBar {
    height: 5px;

    margin: 0 0 -5px 0;

    border-radius: 100px;
    z-index: 1;
  }

  &.active {
    .bottomBar {
      background-color: $purple;
    }
  }

}

.tabContainer {
  width: auto;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  padding: 17px;

  color: $mediumGray70;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;

  svg {
    margin: 0 10px 0 0;
  } 

  &.active {
    color: $purple;    
  }

  &:hover {
    cursor: pointer;
  }
}

.border {
  width: 100%;
  height: 5px;

  border-radius: 100px;

  background-color: $lineGray10;
}

.searchContainer {
  margin: 0 16px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .searchInput {
    display: none;
  }

  .closeContainer {
    display: none;
  }
}

.searchContainerActive {
  margin: 0;
  width: 100%;
  height: 50px;

  position: absolute;
  justify-content: space-between;
  
  background-color: white;

  .iconContainer {
    margin: 0 8px 0 0;
  }

  .searchInput {
    width: calc(100% - 16px);
    height: 100%;

    display: flex;

    border: none;
    outline: none;

    padding: 0 6px;
    
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }

  .closeContainer {
    margin: 0 0 0 8px ;
    display: flex;
  }

  
}